img.btn-heart {
  padding: 10;
  width: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.navbar {
  background-color: #b32400 !important;
}

.nav {
  margin-right: 20px;
}

.chip {
  margin: 3px 3px 0 3px;
  color: white;
  background-color: #26a69a;
}

.btn-login {
  margin-top: 8px;
}

.container {
  width: 80% !important;
}

@font-face {
  font-family: Lobster;
  src: url(./Lobster_1.3.otf);
}

.brand-logo {
  font-family: 'Lobster', cursive;
  margin-left: 20px;
}

.space {
  margin: 20px 0 30px 0;
}
