/*html {
  background-image: url(./Ingredients.jpg);
  background-size: cover;
}*/

img.btn-heart {
  padding: 10;
  width: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

img.btn-heart:active {
  width:50px;
}

.navbar {
background-color: #b32400 !important;
}

.chip {
  margin: 3px 2px 0 2px;
}

.btn-login {
  margin-top: 8px;
}
